<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head', { pageTitle: 'Commenting System'}) %>
  </head>
  <body>
    <div class="heading">
      <h1>Ajax Comment</h1>
      <h3>system with MongoDB</h3>
    </div>

    <div class="container">
      <form id="comments-form">
        <div class="form__item">
          <label for="name">Name</label>
          <input type="text" name="name" id="name" required />
        </div>
        <div class="form__item">
          <label for="comment">Comment</label>
          <textarea
            name="comment"
            id="comment"
            rows="4"
            placeholder="Leave a comment..."
          ></textarea>
        </div>
        <button class="btn save">Save</button>
      </form>
      <button class="btn load" id="load-btn">Load Comments</button>
      <div id="comments-container"></div>
    </div>
    <dialog>
      <div class="error__heading">
        <p><strong>Error</strong></p>

        <button id="close-dialog" autofocus>&#88;</button>
      </div>
      <p id="error-description"></p>
    </dialog>
  </body>
</html>
